@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';

*{
    margin: 0;
    padding: 0;
}

.overflow {
    overflow: hidden;
}

.nav{
    width: auto;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .3;
    transition: opacity .5s;
}
.nav:hover{
    opacity: 1;
}

.color{
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .2s;
}
.color:hover{
    transform: scale(1.2);
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
}
.save{
    background-color: #0f65d4;
}